<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Cooperación de aplicaciones</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Cooperaci&#243;n de aplicaciones</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-13059d8b6f7b47f482a3db3f910248f6.png" alt="Cooperación de aplicaciones" usemap="#id-13059d8b6f7b47f482a3db3f910248f6map"/>
			   <map name="id-13059d8b6f7b47f482a3db3f910248f6map">
				  				<area shape="rect" coords="226,406,346,461" href="../elements/id-e78b0221f38c4385a70e57b381c2ef95.html"  target="element">
				  				<area shape="rect" coords="22,406,142,461" href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html"  target="element">
				  				<area shape="rect" coords="226,298,346,353" href="../elements/id-cf080b0d5cc7442ba57b3207e4f3a919.html"  target="element">
				  				<area shape="rect" coords="22,298,142,353" href="../elements/id-7882edff4ef540dc8a84d548893f076d.html"  target="element">

				  		<area shape="rect" coords="10,214,383,515" href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html"  target="element">
				  				<area shape="rect" coords="106,58,226,113" href="../elements/id-3cd72765943e4afc9fddb4c1680d163a.html"  target="element">

				  		<area shape="rect" coords="22,10,323,155" href="../elements/id-b2c482d8fbf744f8b333d6129bcb0c0e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b2c482d8fbf744f8b333d6129bcb0c0e.html" target="element"> Front-End </a> </td>
											    <td> <a href="../elements/id-b2c482d8fbf744f8b333d6129bcb0c0e.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3cd72765943e4afc9fddb4c1680d163a.html" target="element"> GUI Portal </a> </td>
													    <td> <a href="../elements/id-3cd72765943e4afc9fddb4c1680d163a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
											    <td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
													    <td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf080b0d5cc7442ba57b3207e4f3a919.html" target="element"> Gestor de env&#237;os </a> </td>
													    <td> <a href="../elements/id-cf080b0d5cc7442ba57b3207e4f3a919.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
													    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e78b0221f38c4385a70e57b381c2ef95.html" target="element"> Gestor de usuarios </a> </td>
													    <td> <a href="../elements/id-e78b0221f38c4385a70e57b381c2ef95.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3b750fa132f545b3a7f93c340ccc8076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b750fa132f545b3a7f93c340ccc8076.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b2c482d8fbf744f8b333d6129bcb0c0e.html" target="element"> Front-End </a> </td>
																		<td> <a href="../elements/id-3cd72765943e4afc9fddb4c1680d163a.html" target="element"> GUI Portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4c895f5dc0a467a870c8187c2ee8ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4c895f5dc0a467a870c8187c2ee8ba6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b2c482d8fbf744f8b333d6129bcb0c0e.html" target="element"> Front-End </a> </td>
																		<td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-477694c65cce48478fe97d86d5194d04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-477694c65cce48478fe97d86d5194d04.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
																		<td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc4ff36393f64cff8835b694f3d4bd81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4ff36393f64cff8835b694f3d4bd81.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
																		<td> <a href="../elements/id-cf080b0d5cc7442ba57b3207e4f3a919.html" target="element"> Gestor de env&#237;os </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f0d608a96364ca9b819301c3bc1af46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f0d608a96364ca9b819301c3bc1af46.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
																		<td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4a7707123d246b389b4ef429767dd0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4a7707123d246b389b4ef429767dd0b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3ad68a3409d4a01b8c943ac427d441b.html" target="element"> Back-End </a> </td>
																		<td> <a href="../elements/id-e78b0221f38c4385a70e57b381c2ef95.html" target="element"> Gestor de usuarios </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a3b5a3e6f5474bb69aa3d51594ecfa89.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3b5a3e6f5474bb69aa3d51594ecfa89.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-cf080b0d5cc7442ba57b3207e4f3a919.html" target="element"> Gestor de env&#237;os </a> </td>
																				<td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-65b9c111c7b1490187c1f9d16b1b6a88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-65b9c111c7b1490187c1f9d16b1b6a88.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
																				<td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>