<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Funciones de negocio</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Funciones de negocio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-126902e1709045989c6e476dcd16dc87.png" alt="Funciones de negocio" usemap="#id-126902e1709045989c6e476dcd16dc87map"/>
			   <map name="id-126902e1709045989c6e476dcd16dc87map">
				  		<area shape="rect" coords="10,322,130,377" href="../elements/id-4e084b6383304f5eb245b60ecf361137.html"  target="element">
				  		<area shape="rect" coords="245,10,365,65" href="../elements/id-633efcb656f5457c815ad6017caf2219.html"  target="element">
				  		<area shape="rect" coords="10,154,130,209" href="../elements/id-65f4dbd49681485aa537f24d320c9fa0.html"  target="element">
				  		<area shape="rect" coords="514,322,634,377" href="../elements/id-9a69fee09f784cdd841bbbb85be1af51.html"  target="element">
				  		<area shape="rect" coords="514,154,634,209" href="../elements/id-265addd906334f799ca6a379bc439283.html"  target="element">
				  		<area shape="rect" coords="245,154,365,209" href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html"  target="element">
				  		<area shape="rect" coords="245,322,365,377" href="../elements/id-03a77e2508ae42be980fa269ed143a95.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-03a77e2508ae42be980fa269ed143a95.html" target="element"> Domiciliario </a> </td>
											    <td> <a href="../elements/id-03a77e2508ae42be980fa269ed143a95.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html" target="element"> Tendero </a> </td>
											    <td> <a href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-265addd906334f799ca6a379bc439283.html" target="element"> Despachar el pedido </a> </td>
											    <td> <a href="../elements/id-265addd906334f799ca6a379bc439283.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a69fee09f784cdd841bbbb85be1af51.html" target="element"> Entregar pedido </a> </td>
											    <td> <a href="../elements/id-9a69fee09f784cdd841bbbb85be1af51.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65f4dbd49681485aa537f24d320c9fa0.html" target="element"> Gestionar el inventario </a> </td>
											    <td> <a href="../elements/id-65f4dbd49681485aa537f24d320c9fa0.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-633efcb656f5457c815ad6017caf2219.html" target="element"> Gestionar clientes </a> </td>
											    <td> <a href="../elements/id-633efcb656f5457c815ad6017caf2219.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e084b6383304f5eb245b60ecf361137.html" target="element"> Recibir pago </a> </td>
											    <td> <a href="../elements/id-4e084b6383304f5eb245b60ecf361137.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6a21603e5d534b7a8e4fcb4830ce4586.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a21603e5d534b7a8e4fcb4830ce4586.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-03a77e2508ae42be980fa269ed143a95.html" target="element"> Domiciliario </a> </td>
																		<td> <a href="../elements/id-9a69fee09f784cdd841bbbb85be1af51.html" target="element"> Entregar pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ea9360d297c4223a1aa8d6509889cb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ea9360d297c4223a1aa8d6509889cb3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-265addd906334f799ca6a379bc439283.html" target="element"> Despachar el pedido </a> </td>
																		<td> <a href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html" target="element"> Tendero </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-510d86db2f44419ab77346bec7c14eb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-510d86db2f44419ab77346bec7c14eb5.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-265addd906334f799ca6a379bc439283.html" target="element"> Despachar el pedido </a> </td>
																		<td> <a href="../elements/id-9a69fee09f784cdd841bbbb85be1af51.html" target="element"> Entregar pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2d41eb7184248e4910c6c53dc32a4bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2d41eb7184248e4910c6c53dc32a4bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-65f4dbd49681485aa537f24d320c9fa0.html" target="element"> Gestionar el inventario </a> </td>
																		<td> <a href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html" target="element"> Tendero </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d970cab17734453b32a33b8d8f691ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d970cab17734453b32a33b8d8f691ce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-633efcb656f5457c815ad6017caf2219.html" target="element"> Gestionar clientes </a> </td>
																		<td> <a href="../elements/id-a805f3266d4249faa2a1a3a438cb2cef.html" target="element"> Tendero </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c9265a4ed11b42198c05ef85b2c90b89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9265a4ed11b42198c05ef85b2c90b89.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4e084b6383304f5eb245b60ecf361137.html" target="element"> Recibir pago </a> </td>
																		<td> <a href="../elements/id-03a77e2508ae42be980fa269ed143a95.html" target="element"> Domiciliario </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>