<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Estructura de aplicación </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Estructura de aplicaci&#243;n </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40012738383347ef9e10a58ed298b2ce.png" alt="Estructura de aplicación " usemap="#id-40012738383347ef9e10a58ed298b2cemap"/>
			   <map name="id-40012738383347ef9e10a58ed298b2cemap">
				  		<area shape="rect" coords="202,10,322,65" href="../elements/id-5ca96f3d42f54fae8662931d070e2688.html"  target="element">
				  		<area shape="rect" coords="574,10,694,65" href="../elements/id-df74bf8de0fe467d811d1b94b84c5abc.html"  target="element">
				  		<area shape="rect" coords="202,178,322,233" href="../elements/id-276d60621ef6416ba86459231233ee62.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-7882edff4ef540dc8a84d548893f076d.html"  target="element">
				  		<area shape="rect" coords="766,178,886,233" href="../elements/id-f8017dc0dad849999b866caaa301b749.html"  target="element">
				  		<area shape="rect" coords="574,178,707,233" href="../elements/id-ea5d163638b8424e8a2458059cf4aa63.html"  target="element">
				  		<area shape="rect" coords="382,178,502,233" href="../elements/id-a07244a904464f38ba225af63e7aeb39.html"  target="element">
				  		<area shape="rect" coords="766,10,886,65" href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-744893e0870d496aa12e8f21903de61b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
											    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea5d163638b8424e8a2458059cf4aa63.html" target="element"> Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-ea5d163638b8424e8a2458059cf4aa63.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
											    <td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-276d60621ef6416ba86459231233ee62.html" target="element"> Validaci&#243;n </a> </td>
											    <td> <a href="../elements/id-276d60621ef6416ba86459231233ee62.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df74bf8de0fe467d811d1b94b84c5abc.html" target="element"> Venta </a> </td>
											    <td> <a href="../elements/id-df74bf8de0fe467d811d1b94b84c5abc.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ca96f3d42f54fae8662931d070e2688.html" target="element"> Env&#237;os </a> </td>
											    <td> <a href="../elements/id-5ca96f3d42f54fae8662931d070e2688.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-87abf8b0c61d478c9a074568483e5fef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87abf8b0c61d478c9a074568483e5fef.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
																		<td> <a href="../elements/id-5ca96f3d42f54fae8662931d070e2688.html" target="element"> Env&#237;os </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aff5a3a3449d493ea43b84ec358a1e26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aff5a3a3449d493ea43b84ec358a1e26.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
																		<td> <a href="../elements/id-df74bf8de0fe467d811d1b94b84c5abc.html" target="element"> Venta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-314dd1ddd27b48a09d21a4f3fb4f2509.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-314dd1ddd27b48a09d21a4f3fb4f2509.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																		<td> <a href="../elements/id-ea5d163638b8424e8a2458059cf4aa63.html" target="element"> Administraci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b80e7b3351704123be798a85d3613bc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b80e7b3351704123be798a85d3613bc1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ea5d163638b8424e8a2458059cf4aa63.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b7b8d59342042718bf9a4e03b1dee37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b7b8d59342042718bf9a4e03b1dee37.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7882edff4ef540dc8a84d548893f076d.html" target="element"> Control de acceso </a> </td>
																		<td> <a href="../elements/id-276d60621ef6416ba86459231233ee62.html" target="element"> Validaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e944707a36441ca9bc5f62661d83c13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e944707a36441ca9bc5f62661d83c13.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-276d60621ef6416ba86459231233ee62.html" target="element"> Validaci&#243;n </a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8870d48aa6ee4cedb62d6be7d75631f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8870d48aa6ee4cedb62d6be7d75631f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-df74bf8de0fe467d811d1b94b84c5abc.html" target="element"> Venta </a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eee733f24d7446fcb089609361b7c546.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eee733f24d7446fcb089609361b7c546.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5ca96f3d42f54fae8662931d070e2688.html" target="element"> Env&#237;os </a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>