<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Uso de Infraestructura</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Uso de Infraestructura</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-762b523b067d45c6a899a98a09e38562.png" alt="Uso de Infraestructura" usemap="#id-762b523b067d45c6a899a98a09e38562map"/>
			   <map name="id-762b523b067d45c6a899a98a09e38562map">
				          <area shape="rect" coords="10,10,227,59" href="../objects/id-82ad778de51d48428fdcd7b5d2bf1c17.html" target="element" >
				  		<area shape="rect" coords="658,82,778,137" href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html"  target="element">
				  		<area shape="rect" coords="430,82,550,137" href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html"  target="element">
				  		<area shape="rect" coords="202,82,322,137" href="../elements/id-0ead3330d0814551a956223d2b027d25.html"  target="element">
				  		<area shape="rect" coords="682,408,802,463" href="../elements/id-a07244a904464f38ba225af63e7aeb39.html"  target="element">
				  		<area shape="rect" coords="442,574,562,629" href="../elements/id-f8017dc0dad849999b866caaa301b749.html"  target="element">
				  		<area shape="rect" coords="33,394,153,449" href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html"  target="element">
				  		<area shape="rect" coords="34,310,154,365" href="../elements/id-744893e0870d496aa12e8f21903de61b.html"  target="element">
				  		<area shape="rect" coords="670,286,790,341" href="../elements/id-30981028417d4e81b23542121984b5bb.html"  target="element">
				  				<area shape="rect" coords="969,418,1089,473" href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html"  target="element">

				  		<area shape="rect" coords="909,358,1137,514" href="../elements/id-8c2004fede4c418594f29477dbff0e05.html"  target="element">
				  				<area shape="rect" coords="969,202,1089,257" href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html"  target="element">

				  		<area shape="rect" coords="909,142,1138,310" href="../elements/id-dc1c505901694907a55ca1128c752f0f.html"  target="element">
				  								<area shape="rect" coords="406,394,526,449" href="../elements/id-16ffa691280c4256ab0b73d28d5738aa.html"  target="element">
				  								<area shape="rect" coords="406,310,526,365" href="../elements/id-bb52180840de46a38f5a43fabd6d31d8.html"  target="element">
				  								<area shape="rect" coords="250,394,370,449" href="../elements/id-f280230b8b994de7b3acd1775c9f7e49.html"  target="element">
				  								<area shape="rect" coords="250,310,370,365" href="../elements/id-b16a54dec7224fe78686102371b2b9c1.html"  target="element">

				  						<area shape="rect" coords="238,274,551,467" href="../elements/id-a87c4c731279421999e91dd192935e2b.html"  target="element">

				  				<area shape="rect" coords="226,226,575,479" href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html"  target="element">

				  		<area shape="rect" coords="214,178,599,491" href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element"> AWS </a> </td>
											    <td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
													    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
															    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-b16a54dec7224fe78686102371b2b9c1.html" target="element"> Docker de env&#237;os </a> </td>
																	    <td> <a href="../elements/id-b16a54dec7224fe78686102371b2b9c1.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f280230b8b994de7b3acd1775c9f7e49.html" target="element"> Docker de pedidos </a> </td>
																	    <td> <a href="../elements/id-f280230b8b994de7b3acd1775c9f7e49.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-bb52180840de46a38f5a43fabd6d31d8.html" target="element"> Docker usuarios </a> </td>
																	    <td> <a href="../elements/id-bb52180840de46a38f5a43fabd6d31d8.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-16ffa691280c4256ab0b73d28d5738aa.html" target="element"> Docker GUI </a> </td>
																	    <td> <a href="../elements/id-16ffa691280c4256ab0b73d28d5738aa.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element"> Tienda </a> </td>
											    <td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element"> PC </a> </td>
													    <td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element"> Lugar del cliente </a> </td>
											    <td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element"> PC </a> </td>
													    <td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element"> Red </a> </td>
											    <td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element" class="i18n-elementtype-Path"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
											    <td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element"> Servicio de red </a> </td>
											    <td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-82ad778de51d48428fdcd7b5d2bf1c17.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-82ad778de51d48428fdcd7b5d2bf1c17.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0e3ae5e111a240468741c03c227ffca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e3ae5e111a240468741c03c227ffca9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element"> AWS </a> </td>
																		<td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
																				<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-5d467ef0bed54f4193d2405ff94caa78.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5d467ef0bed54f4193d2405ff94caa78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-b16a54dec7224fe78686102371b2b9c1.html" target="element"> Docker de env&#237;os </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7bed2ae32b7f412aa193ea5570281363.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7bed2ae32b7f412aa193ea5570281363.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-f280230b8b994de7b3acd1775c9f7e49.html" target="element"> Docker de pedidos </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-244255f0aff94e34a4a0b4a687e63e72.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-244255f0aff94e34a4a0b4a687e63e72.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-bb52180840de46a38f5a43fabd6d31d8.html" target="element"> Docker usuarios </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d6aef09baf5a48a58d76b65f951dfe6d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d6aef09baf5a48a58d76b65f951dfe6d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-16ffa691280c4256ab0b73d28d5738aa.html" target="element"> Docker GUI </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-14850f57d7654eaebb422d253c8658b8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-14850f57d7654eaebb422d253c8658b8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1d2b0508437a477cbb56e08cfdaee433.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1d2b0508437a477cbb56e08cfdaee433.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-8342be4178f0469b97002e891c487928.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8342be4178f0469b97002e891c487928.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element"> Tienda </a> </td>
																		<td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element"> PC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d0498f1292a342a4ab523ce21269cd44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d0498f1292a342a4ab523ce21269cd44.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element"> PC </a> </td>
																				<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bea29d9a464246239b0e6c22f12b5916.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bea29d9a464246239b0e6c22f12b5916.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element"> Lugar del cliente </a> </td>
																		<td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element"> PC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a857f7f8ef2544a69e12da39bcc21186.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a857f7f8ef2544a69e12da39bcc21186.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element"> PC </a> </td>
																				<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b000fc09b2fd428f81a49b97d491ef05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b000fc09b2fd428f81a49b97d491ef05.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element"> Red </a> </td>
																		<td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element"> Servicio de red </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d7c4cd884864bb79fab003a191d0f90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d7c4cd884864bb79fab003a191d0f90.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
																		<td> <a href="../elements/id-b16a54dec7224fe78686102371b2b9c1.html" target="element"> Docker de env&#237;os </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ddcc30b766de411b87648238f6f99e14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddcc30b766de411b87648238f6f99e14.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b5ff87da8a3a4ec6913c5eae5d380ec9.html" target="element"> Gestor de pedidos </a> </td>
																		<td> <a href="../elements/id-f280230b8b994de7b3acd1775c9f7e49.html" target="element"> Docker de pedidos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e07c096e2ef349f68468103c971245cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e07c096e2ef349f68468103c971245cf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
																		<td> <a href="../elements/id-bb52180840de46a38f5a43fabd6d31d8.html" target="element"> Docker usuarios </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1cfa7e4692a4079a0ac84076538c23a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1cfa7e4692a4079a0ac84076538c23a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																		<td> <a href="../elements/id-16ffa691280c4256ab0b73d28d5738aa.html" target="element"> Docker GUI </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>