<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Por capas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Por capas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ba93385704214183b242481b57bbd468.png" alt="Por capas" usemap="#id-ba93385704214183b242481b57bbd468map"/>
			   <map name="id-ba93385704214183b242481b57bbd468map">
				  		<area shape="rect" coords="514,10,634,65" href="../elements/id-eda7999acd684d62b9b2ecbc4a8813e9.html"  target="element">
				  		<area shape="rect" coords="328,10,448,65" href="../elements/id-fa9be19cf8154e91b074cd0c93748afa.html"  target="element">
				  		<area shape="rect" coords="154,10,274,65" href="../elements/id-430a8a8184fa407681b0646ca52ca6f6.html"  target="element">
				  		<area shape="rect" coords="10,130,130,185" href="../elements/id-8a4f9c21c01d43be8c6bc3587d378c14.html"  target="element">
				  		<area shape="rect" coords="210,130,330,185" href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html"  target="element">
				  		<area shape="rect" coords="443,130,563,185" href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html"  target="element">
				  		<area shape="rect" coords="430,226,550,281" href="../elements/id-ef85c5904ad94821a72a3854053bbcbf.html"  target="element">
				  		<area shape="rect" coords="226,226,346,281" href="../elements/id-92bd793099f74f46874df18f3db56235.html"  target="element">
				  		<area shape="rect" coords="430,310,550,365" href="../elements/id-29333127a5be442c9a9c406b00b2865a.html"  target="element">
				  		<area shape="rect" coords="238,310,358,365" href="../elements/id-6990935238a046f598902827570e1965.html"  target="element">
				  		<area shape="rect" coords="562,550,682,605" href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html"  target="element">
				  		<area shape="rect" coords="329,406,449,461" href="../elements/id-0ead3330d0814551a956223d2b027d25.html"  target="element">
				  				<area shape="rect" coords="322,550,442,605" href="../elements/id-a87c4c731279421999e91dd192935e2b.html"  target="element">

				  		<area shape="rect" coords="310,502,467,623" href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
											    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
													    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6990935238a046f598902827570e1965.html" target="element"> Gestor de pedidos </a> </td>
											    <td> <a href="../elements/id-6990935238a046f598902827570e1965.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29333127a5be442c9a9c406b00b2865a.html" target="element"> Gestor de env&#237;os </a> </td>
											    <td> <a href="../elements/id-29333127a5be442c9a9c406b00b2865a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-92bd793099f74f46874df18f3db56235.html" target="element"> Gestionar pedido </a> </td>
											    <td> <a href="../elements/id-92bd793099f74f46874df18f3db56235.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef85c5904ad94821a72a3854053bbcbf.html" target="element"> Gestionar estado pedido </a> </td>
											    <td> <a href="../elements/id-ef85c5904ad94821a72a3854053bbcbf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html" target="element"> Entrega de pedido </a> </td>
											    <td> <a href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element"> Venta de productos </a> </td>
											    <td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a4f9c21c01d43be8c6bc3587d378c14.html" target="element"> Solicitud de productos a tienda </a> </td>
											    <td> <a href="../elements/id-8a4f9c21c01d43be8c6bc3587d378c14.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-430a8a8184fa407681b0646ca52ca6f6.html" target="element"> Tendero </a> </td>
											    <td> <a href="../elements/id-430a8a8184fa407681b0646ca52ca6f6.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa9be19cf8154e91b074cd0c93748afa.html" target="element"> Entrega de mercancias </a> </td>
											    <td> <a href="../elements/id-fa9be19cf8154e91b074cd0c93748afa.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eda7999acd684d62b9b2ecbc4a8813e9.html" target="element"> Domiciliario </a> </td>
											    <td> <a href="../elements/id-eda7999acd684d62b9b2ecbc4a8813e9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
																		<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-14850f57d7654eaebb422d253c8658b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14850f57d7654eaebb422d253c8658b8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																				<td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1d2b0508437a477cbb56e08cfdaee433.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d2b0508437a477cbb56e08cfdaee433.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																				<td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f4ac3726bbec475fa5243f4f85f69e62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4ac3726bbec475fa5243f4f85f69e62.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
																		<td> <a href="../elements/id-6990935238a046f598902827570e1965.html" target="element"> Gestor de pedidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e676bd4d695a48e4a6fcdc0e8a8a0366.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e676bd4d695a48e4a6fcdc0e8a8a0366.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
																		<td> <a href="../elements/id-29333127a5be442c9a9c406b00b2865a.html" target="element"> Gestor de env&#237;os </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f2ca8ed1fa44d0cbec120ee5c518842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f2ca8ed1fa44d0cbec120ee5c518842.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6990935238a046f598902827570e1965.html" target="element"> Gestor de pedidos </a> </td>
																		<td> <a href="../elements/id-92bd793099f74f46874df18f3db56235.html" target="element"> Gestionar pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e466ccb885eb405581287911fd7e28d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e466ccb885eb405581287911fd7e28d2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-29333127a5be442c9a9c406b00b2865a.html" target="element"> Gestor de env&#237;os </a> </td>
																		<td> <a href="../elements/id-ef85c5904ad94821a72a3854053bbcbf.html" target="element"> Gestionar estado pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b02586f2a89c44548cdd2507ef4c5155.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b02586f2a89c44548cdd2507ef4c5155.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-92bd793099f74f46874df18f3db56235.html" target="element"> Gestionar pedido </a> </td>
																		<td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element"> Venta de productos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-788087e235514d31b2af08792087f227.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-788087e235514d31b2af08792087f227.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-ef85c5904ad94821a72a3854053bbcbf.html" target="element"> Gestionar estado pedido </a> </td>
																		<td> <a href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html" target="element"> Entrega de pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f89986132c3430f9a261534a22fd77f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f89986132c3430f9a261534a22fd77f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element"> Venta de productos </a> </td>
																		<td> <a href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html" target="element"> Entrega de pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b801f8bbace649f485d72abe1e23362d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b801f8bbace649f485d72abe1e23362d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element"> Venta de productos </a> </td>
																		<td> <a href="../elements/id-8a4f9c21c01d43be8c6bc3587d378c14.html" target="element"> Solicitud de productos a tienda </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3b16ab19188f48a3bf45b17218fcb410.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b16ab19188f48a3bf45b17218fcb410.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-430a8a8184fa407681b0646ca52ca6f6.html" target="element"> Tendero </a> </td>
																		<td> <a href="../elements/id-eac01a5804dc4e019dca35cc7c2d4958.html" target="element"> Venta de productos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed2425596f7643cca405eadf00acdb46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed2425596f7643cca405eadf00acdb46.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fa9be19cf8154e91b074cd0c93748afa.html" target="element"> Entrega de mercancias </a> </td>
																		<td> <a href="../elements/id-eda7999acd684d62b9b2ecbc4a8813e9.html" target="element"> Domiciliario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63a934eb78d04e65be3302b3edcdd1b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63a934eb78d04e65be3302b3edcdd1b0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fa9be19cf8154e91b074cd0c93748afa.html" target="element"> Entrega de mercancias </a> </td>
																		<td> <a href="../elements/id-430a8a8184fa407681b0646ca52ca6f6.html" target="element"> Tendero </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-485129499121499cbaa2d0b3f6c31127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-485129499121499cbaa2d0b3f6c31127.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-eda7999acd684d62b9b2ecbc4a8813e9.html" target="element"> Domiciliario </a> </td>
																		<td> <a href="../elements/id-84a808e28ce8473689a18190c2c2d5b4.html" target="element"> Entrega de pedido </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>