<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Comportamiento de aplicación</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Comportamiento de aplicaci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d7d900ef91b54ffc9f03fb2998f967f1.png" alt="Comportamiento de aplicación" usemap="#id-d7d900ef91b54ffc9f03fb2998f967f1map"/>
			   <map name="id-d7d900ef91b54ffc9f03fb2998f967f1map">
				          <area shape="rect" coords="610,22,899,95" href="../objects/id-3138f8e3f06e43dea387a0aa8ff1e8a1.html" target="element" >
				  		<area shape="rect" coords="166,130,286,185" href="../elements/id-b89cb22596454cec9edee4d3b5432234.html"  target="element">
				  		<area shape="rect" coords="562,130,682,185" href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html"  target="element">
				  		<area shape="rect" coords="682,418,802,473" href="../elements/id-dca002aeb2c84b8089f1223c7216fc67.html"  target="element">
				  		<area shape="rect" coords="10,418,130,473" href="../elements/id-c7be3da926fa454881a2f549de3991dd.html"  target="element">
				  		<area shape="rect" coords="178,418,298,473" href="../elements/id-99a7aceefc05422da58d34af69986313.html"  target="element">
				  		<area shape="rect" coords="514,418,634,473" href="../elements/id-bbd577ac97ce4c1682230be4196751f1.html"  target="element">
				  		<area shape="rect" coords="346,418,466,473" href="../elements/id-f8017dc0dad849999b866caaa301b749.html"  target="element">
				  		<area shape="rect" coords="562,274,682,329" href="../elements/id-744893e0870d496aa12e8f21903de61b.html"  target="element">
				  		<area shape="rect" coords="166,274,286,329" href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html"  target="element">
				  		<area shape="rect" coords="358,130,478,185" href="../elements/id-9888074793b94e8e850c5396ecac64e1.html"  target="element">
				  		<area shape="rect" coords="358,10,478,65" href="../elements/id-a07244a904464f38ba225af63e7aeb39.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
											    <td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
											    <td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
											    <td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
											    <td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
											    <td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbd577ac97ce4c1682230be4196751f1.html" target="element"> Historial perdidos usuario </a> </td>
											    <td> <a href="../elements/id-bbd577ac97ce4c1682230be4196751f1.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99a7aceefc05422da58d34af69986313.html" target="element"> Historial pedidos tendero </a> </td>
											    <td> <a href="../elements/id-99a7aceefc05422da58d34af69986313.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7be3da926fa454881a2f549de3991dd.html" target="element"> Consultar estado pedido </a> </td>
											    <td> <a href="../elements/id-c7be3da926fa454881a2f549de3991dd.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dca002aeb2c84b8089f1223c7216fc67.html" target="element"> Realizar pedido </a> </td>
											    <td> <a href="../elements/id-dca002aeb2c84b8089f1223c7216fc67.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html" target="element"> CRUD </a> </td>
											    <td> <a href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b89cb22596454cec9edee4d3b5432234.html" target="element"> Controlar el acceso a aplicaci&#243;n </a> </td>
											    <td> <a href="../elements/id-b89cb22596454cec9edee4d3b5432234.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3138f8e3f06e43dea387a0aa8ff1e8a1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3138f8e3f06e43dea387a0aa8ff1e8a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5dd43dc84bfc4817b3403676132f2b75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dd43dc84bfc4817b3403676132f2b75.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a07244a904464f38ba225af63e7aeb39.html" target="element"> GUI Portal </a> </td>
																		<td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d513c18c46e448208cc8392d2d611efe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d513c18c46e448208cc8392d2d611efe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																		<td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e49c1a240134bba94aa8fdd756e6743.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e49c1a240134bba94aa8fdd756e6743.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																		<td> <a href="../elements/id-99a7aceefc05422da58d34af69986313.html" target="element"> Historial pedidos tendero </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8e70ce453b54f2ca9c8643add251dd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8e70ce453b54f2ca9c8643add251dd3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																		<td> <a href="../elements/id-c7be3da926fa454881a2f549de3991dd.html" target="element"> Consultar estado pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df3b06f597ff42159d71decd868014cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df3b06f597ff42159d71decd868014cb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																		<td> <a href="../elements/id-bbd577ac97ce4c1682230be4196751f1.html" target="element"> Historial perdidos usuario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dec950a333ac449e97b580e719bb36ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dec950a333ac449e97b580e719bb36ee.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																		<td> <a href="../elements/id-dca002aeb2c84b8089f1223c7216fc67.html" target="element"> Realizar pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f747286225a443f2bf1892d5c8ba9b89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f747286225a443f2bf1892d5c8ba9b89.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
																		<td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5f4f7437e9e04eaeab0a234f564c5be1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f4f7437e9e04eaeab0a234f564c5be1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
																		<td> <a href="../elements/id-bbd577ac97ce4c1682230be4196751f1.html" target="element"> Historial perdidos usuario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-012c302275b149dfb4f9c721facbe7b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-012c302275b149dfb4f9c721facbe7b0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-99a7aceefc05422da58d34af69986313.html" target="element"> Historial pedidos tendero </a> </td>
																		<td> <a href="../elements/id-f8017dc0dad849999b866caaa301b749.html" target="element"> Gestor de usuarios </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-77c975fa7c1740aabf9d0d18f491aa96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77c975fa7c1740aabf9d0d18f491aa96.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html" target="element"> CRUD </a> </td>
																		<td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3546257d5774f058f6a2dbf230a520b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3546257d5774f058f6a2dbf230a520b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html" target="element"> CRUD </a> </td>
																		<td> <a href="../elements/id-d5e077c75e3e495bb9fed386e68a4bdc.html" target="element"> Gestor de perdidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3894cef8bd7450980ff1f85d0348645.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3894cef8bd7450980ff1f85d0348645.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6e48ea9ad2a14c499d6ec92ae82cc325.html" target="element"> CRUD </a> </td>
																		<td> <a href="../elements/id-744893e0870d496aa12e8f21903de61b.html" target="element"> Gestor de env&#237;os </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9f2a478f3a3e4f86a32831b9dc75b59a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f2a478f3a3e4f86a32831b9dc75b59a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b89cb22596454cec9edee4d3b5432234.html" target="element"> Controlar el acceso a aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-9888074793b94e8e850c5396ecac64e1.html" target="element"> Controle de acceso </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>