<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Infraestructura</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Infraestructura</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f3645f542e2f4966bfa66aea4ffeab9c.png" alt="Infraestructura" usemap="#id-f3645f542e2f4966bfa66aea4ffeab9cmap"/>
			   <map name="id-f3645f542e2f4966bfa66aea4ffeab9cmap">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-0ead3330d0814551a956223d2b027d25.html"  target="element">
				  		<area shape="rect" coords="193,10,313,65" href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html"  target="element">
				  		<area shape="rect" coords="407,10,527,65" href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html"  target="element">
				  		<area shape="rect" coords="407,130,527,185" href="../elements/id-0e74a4c53f524d88b5cdd3c94d09de86.html"  target="element">
				  		<area shape="rect" coords="193,130,313,185" href="../elements/id-c30088a6a5834d83b834d65490051b4b.html"  target="element">
				  		<area shape="rect" coords="11,130,131,185" href="../elements/id-3e6cced194dd4728b5a23e93700f7235.html"  target="element">
				  		<area shape="rect" coords="407,295,527,350" href="../elements/id-30981028417d4e81b23542121984b5bb.html"  target="element">
				  				<area shape="rect" coords="671,406,791,461" href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html"  target="element">

				  		<area shape="rect" coords="635,334,822,491" href="../elements/id-8c2004fede4c418594f29477dbff0e05.html"  target="element">
				  				<area shape="rect" coords="671,226,791,281" href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html"  target="element">

				  		<area shape="rect" coords="635,154,822,304" href="../elements/id-dc1c505901694907a55ca1128c752f0f.html"  target="element">
				  								<area shape="rect" coords="95,334,215,389" href="../elements/id-f9418d29d66c4a6ea3e485b13ceb4d3b.html"  target="element">

				  						<area shape="rect" coords="35,298,264,407" href="../elements/id-a87c4c731279421999e91dd192935e2b.html"  target="element">

				  				<area shape="rect" coords="23,250,288,419" href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html"  target="element">

				  		<area shape="rect" coords="11,202,313,444" href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element"> AWS </a> </td>
											    <td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
													    <td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
															    <td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-f9418d29d66c4a6ea3e485b13ceb4d3b.html" target="element"> Tienda en l&#237;nea </a> </td>
																	    <td> <a href="../elements/id-f9418d29d66c4a6ea3e485b13ceb4d3b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element"> Tienda </a> </td>
											    <td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element"> PC </a> </td>
													    <td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element"> Lugar del cliente </a> </td>
											    <td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element"> PC </a> </td>
													    <td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element"> Red </a> </td>
											    <td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element" class="i18n-elementtype-Path"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e6cced194dd4728b5a23e93700f7235.html" target="element"> Facilitar despliegue </a> </td>
											    <td> <a href="../elements/id-3e6cced194dd4728b5a23e93700f7235.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c30088a6a5834d83b834d65490051b4b.html" target="element"> Permitir escalamiento </a> </td>
											    <td> <a href="../elements/id-c30088a6a5834d83b834d65490051b4b.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e74a4c53f524d88b5cdd3c94d09de86.html" target="element"> Comunicaci&#243;n </a> </td>
											    <td> <a href="../elements/id-0e74a4c53f524d88b5cdd3c94d09de86.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element"> Servicio de red </a> </td>
											    <td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
											    <td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
											    <td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0e3ae5e111a240468741c03c227ffca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e3ae5e111a240468741c03c227ffca9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6eafdc36a9246889ce6ec0c89cb0cf4.html" target="element"> AWS </a> </td>
																		<td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19cb5eb0adcd417a85e91730fc347458.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d01fdb474e1e4e40ae01611b6ac8adb0.html" target="element"> Servidor </a> </td>
																				<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-9da893c760ec472fa08b150a482dac09.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9da893c760ec472fa08b150a482dac09.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																						<td> <a href="../elements/id-f9418d29d66c4a6ea3e485b13ceb4d3b.html" target="element"> Tienda en l&#237;nea </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-8342be4178f0469b97002e891c487928.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8342be4178f0469b97002e891c487928.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-dc1c505901694907a55ca1128c752f0f.html" target="element"> Tienda </a> </td>
																		<td> <a href="../elements/id-e5c491c1fd64455cbd21a9f2f473a1bd.html" target="element"> PC </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bea29d9a464246239b0e6c22f12b5916.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bea29d9a464246239b0e6c22f12b5916.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8c2004fede4c418594f29477dbff0e05.html" target="element"> Lugar del cliente </a> </td>
																		<td> <a href="../elements/id-dff73a426d2a465cb39f381ff5db2301.html" target="element"> PC </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6fabe2bca1154223843a14a3cc7fca79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fabe2bca1154223843a14a3cc7fca79.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3e6cced194dd4728b5a23e93700f7235.html" target="element"> Facilitar despliegue </a> </td>
																		<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-136dc539acf54f2ab51121d441eb0628.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-136dc539acf54f2ab51121d441eb0628.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-3e6cced194dd4728b5a23e93700f7235.html" target="element"> Facilitar despliegue </a> </td>
																		<td> <a href="../elements/id-0ead3330d0814551a956223d2b027d25.html" target="element"> Servicio de despliegue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa17a6ba4f70424b9268eb834c2d6d85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa17a6ba4f70424b9268eb834c2d6d85.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c30088a6a5834d83b834d65490051b4b.html" target="element"> Permitir escalamiento </a> </td>
																		<td> <a href="../elements/id-a87c4c731279421999e91dd192935e2b.html" target="element"> Docker-compose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf449cd1e145403da98b0cefd0f099e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf449cd1e145403da98b0cefd0f099e4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-c30088a6a5834d83b834d65490051b4b.html" target="element"> Permitir escalamiento </a> </td>
																		<td> <a href="../elements/id-8e3badd0cc484c058f466bc5a852e918.html" target="element"> Servicios de escalamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-185a6e20afbe482381f4c06b7dfffe19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-185a6e20afbe482381f4c06b7dfffe19.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e74a4c53f524d88b5cdd3c94d09de86.html" target="element"> Comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-30981028417d4e81b23542121984b5bb.html" target="element"> Red </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ec8ab08d8bf49118023a2ee875e198d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ec8ab08d8bf49118023a2ee875e198d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e74a4c53f524d88b5cdd3c94d09de86.html" target="element"> Comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-c3f41b0cfb9b43f4ba5abddbda46f6c7.html" target="element"> Servicio de red </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>