<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Estructura de información</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Estructura de informaci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f82d8c3862ca4f2cb6ca4f9f95cc1600.png" alt="Estructura de información" usemap="#id-f82d8c3862ca4f2cb6ca4f9f95cc1600map"/>
			   <map name="id-f82d8c3862ca4f2cb6ca4f9f95cc1600map">
				  		<area shape="rect" coords="238,22,358,77" href="../elements/id-9d7dfb9c7b2a4262b575175d3369c3a1.html"  target="element">
				  		<area shape="rect" coords="10,22,130,77" href="../elements/id-a894d51e171145cc95464a950f5df010.html"  target="element">
				  		<area shape="rect" coords="10,238,130,293" href="../elements/id-61968d10933b46a58367affe3cdb4615.html"  target="element">
				  		<area shape="rect" coords="238,238,358,293" href="../elements/id-2cc9fe23b9234c3b95a6b37aaf7f4fde.html"  target="element">
				  		<area shape="rect" coords="10,130,130,185" href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html"  target="element">
				  		<area shape="rect" coords="238,130,358,185" href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html"  target="element">
				  		<area shape="rect" coords="611,10,731,65" href="../elements/id-aef92edb0c2d46bc98d5f70181ff9f04.html"  target="element">
				  		<area shape="rect" coords="611,130,731,185" href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html"  target="element">
				  		<area shape="rect" coords="611,238,731,293" href="../elements/id-31621cec7e084ba7b84f7cd63cb950e9.html"  target="element">
				  		<area shape="rect" coords="430,238,550,293" href="../elements/id-e9ca30f37d6c452b9edd9be609ff26b0.html"  target="element">
				  		<area shape="rect" coords="826,10,946,65" href="../elements/id-dbdb7479bea142248b1b5b7bd6fd07c0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dbdb7479bea142248b1b5b7bd6fd07c0.html" target="element"> Cliente </a> </td>
											    <td> <a href="../elements/id-dbdb7479bea142248b1b5b7bd6fd07c0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9ca30f37d6c452b9edd9be609ff26b0.html" target="element"> Estado Pedido </a> </td>
											    <td> <a href="../elements/id-e9ca30f37d6c452b9edd9be609ff26b0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31621cec7e084ba7b84f7cd63cb950e9.html" target="element"> Datos Pedido </a> </td>
											    <td> <a href="../elements/id-31621cec7e084ba7b84f7cd63cb950e9.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html" target="element"> Pedido </a> </td>
											    <td> <a href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aef92edb0c2d46bc98d5f70181ff9f04.html" target="element"> Usuario </a> </td>
											    <td> <a href="../elements/id-aef92edb0c2d46bc98d5f70181ff9f04.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html" target="element"> Producto </a> </td>
											    <td> <a href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element"> Tienda </a> </td>
											    <td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cc9fe23b9234c3b95a6b37aaf7f4fde.html" target="element"> Inventario </a> </td>
											    <td> <a href="../elements/id-2cc9fe23b9234c3b95a6b37aaf7f4fde.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61968d10933b46a58367affe3cdb4615.html" target="element"> Informaci&#243;n tienda </a> </td>
											    <td> <a href="../elements/id-61968d10933b46a58367affe3cdb4615.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a894d51e171145cc95464a950f5df010.html" target="element"> Tendero </a> </td>
											    <td> <a href="../elements/id-a894d51e171145cc95464a950f5df010.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9d7dfb9c7b2a4262b575175d3369c3a1.html" target="element"> Domiciliario </a> </td>
											    <td> <a href="../elements/id-9d7dfb9c7b2a4262b575175d3369c3a1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5f7fc4d4cb47476ab56d2a7ebd410c73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f7fc4d4cb47476ab56d2a7ebd410c73.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dbdb7479bea142248b1b5b7bd6fd07c0.html" target="element"> Cliente </a> </td>
																		<td> <a href="../elements/id-aef92edb0c2d46bc98d5f70181ff9f04.html" target="element"> Usuario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3e90c86be8104a05b1fe67de78a1144f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e90c86be8104a05b1fe67de78a1144f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-31621cec7e084ba7b84f7cd63cb950e9.html" target="element"> Datos Pedido </a> </td>
																		<td> <a href="../elements/id-e9ca30f37d6c452b9edd9be609ff26b0.html" target="element"> Estado Pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c5cc1182f27498484a9368010af7bdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c5cc1182f27498484a9368010af7bdc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-31621cec7e084ba7b84f7cd63cb950e9.html" target="element"> Datos Pedido </a> </td>
																		<td> <a href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html" target="element"> Pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-07529206ce9d48748f7281eb9fe3de55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07529206ce9d48748f7281eb9fe3de55.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html" target="element"> Pedido </a> </td>
																		<td> <a href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html" target="element"> Producto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bb412e4dcde54cdc8ef04b7763be8c3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb412e4dcde54cdc8ef04b7763be8c3d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element"> Tienda </a> </td>
																		<td> <a href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html" target="element"> Producto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9db92b386f6543d1a534956f902b201a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9db92b386f6543d1a534956f902b201a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element"> Tienda </a> </td>
																		<td> <a href="../elements/id-a894d51e171145cc95464a950f5df010.html" target="element"> Tendero </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31dbec7b5e6540588c61b45dc3171e6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31dbec7b5e6540588c61b45dc3171e6a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element"> Tienda </a> </td>
																		<td> <a href="../elements/id-9d7dfb9c7b2a4262b575175d3369c3a1.html" target="element"> Domiciliario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3888a69bb904b7fa00c35a4c5857014.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3888a69bb904b7fa00c35a4c5857014.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2cc9fe23b9234c3b95a6b37aaf7f4fde.html" target="element"> Inventario </a> </td>
																		<td> <a href="../elements/id-f54723a39b4045fd85bf87b4b106f5fc.html" target="element"> Producto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ac96ab4879144ab8a41e4ad17f380b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ac96ab4879144ab8a41e4ad17f380b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-61968d10933b46a58367affe3cdb4615.html" target="element"> Informaci&#243;n tienda </a> </td>
																		<td> <a href="../elements/id-15ac252712fd4448afaca87c73c7e32c.html" target="element"> Tienda </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f026d5cce92c40f5b5bc60efa740de2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f026d5cce92c40f5b5bc60efa740de2f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-61968d10933b46a58367affe3cdb4615.html" target="element"> Informaci&#243;n tienda </a> </td>
																		<td> <a href="../elements/id-2cc9fe23b9234c3b95a6b37aaf7f4fde.html" target="element"> Inventario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4be5aad210414771a1a0d8f5265f0a15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4be5aad210414771a1a0d8f5265f0a15.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9d7dfb9c7b2a4262b575175d3369c3a1.html" target="element"> Domiciliario </a> </td>
																		<td> <a href="../elements/id-8cd470dde79c4d02b02e63fb1badde97.html" target="element"> Pedido </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>